/* Custom Components */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: #F4F6F9;
}

.custom-page {
    padding: 5vh 10vh;    
}

/* .custom-page-header-container {} */

.custom-page-header-container .custom-page-header {
    color: #929DAB;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.custom-table table {
    border: 1px solid #D9D9D9;
    /* border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    border-radius: 10px;
}

.custom-table table thead {
    background: transparent;
}

.custom-table table thead th {
    background: #fff;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.custom-table table thead th,
.custom-table table tbody tr td {
    border: 0;
}   

.custom-table table tbody tr:nth-child(odd) {
    background: #F8FAFB;
}

.custom-table table tbody td {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #5B5B5B;
}

.custom-row-subtitle {
    color: #999999;
    font-size: 0.825rem;
    font-weight: 500;
}

.custom-unique-id-type {
    background: #00BFFF;
    color: #fff;
    padding: 6px 8px;
    font-weight: 900;
    font-size: .75rem;
}

.custom-unique-id-value {
    background: #EBEBEB;
    padding: 6px 8px;
    color: #5B5B5B;
    font-weight: 900;
    font-size: .75rem;
    white-space: pre;
}

.custom-margin-top-xs {
    margin-top: 6px;
}

/* Login Page */
.custom-login-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.custom-login-page .mat-drawer-container {
    background-color: transparent;
}

.custom-login-illustration {
    background-image: url('../../assets/img/login-illustration.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: right;
    opacity: .9;
}

.custom-login-content {
    background: #fff;
    height: 100%;
    width: 100%;
    padding: 8vh;
    padding-top: 15vh;
    padding-bottom: 0;
}

.custom-brand {
    font-family: 'Lato', sans-serif;
    color: #3CC8F3;
    letter-spacing: 1px;
    margin: 5px;
    font-size: 1.25rem;
}

.custom-login-welcome-box {
    margin: 14vh 0 5vh 0;
}

.custom-login-welcome-box .custom-login-slogan {
    font-family: 'Lato', sans-serif;
    color: #3e3e3e;
    letter-spacing: 1px;
    margin: 0;
}

.custom-login-welcome-box .custom-login-welcome {
    font-family: 'Lato', sans-serif;
    color: #8c8c8c;
    margin: 8px 0;
}

.custom-login-field-container {
    margin: 9vh 0 4vh 0;
}

.custom-login-field-container .mat-form-field {
    display: block;
    width: 22vw;
}

.custom-login-field-container .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline-thick,
.custom-login-field-container .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex .mat-form-field-outline-thick {
    opacity: 1;
    color: #dfdfdf;
}

.custom-login-field-container .mat-focused.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex .mat-form-field-outline-thick,
.custom-login-field-container .mat-form-field.mat-focused .mat-form-field-label,
.custom-login-field-container .mat-form-field.mat-focused input {
    color: #3CC8F3;
}

.custom-login-field-container .mat-form-field input {
    color: #5b5b5b;
}

.custom-login-field-container .mat-form-field-label {
    font-family: 'Lato', sans-serif;
    color: #adadad;
}

.custom-login-field-container .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -0.2rem;
}

.custom-login-field-container .mat-hint {
    font-size: .8rem;
    color: #b5b4b4;
    user-select: none;
}

.custom-login-field-container .mat-form-field.mat-focused .mat-hint {
    color: #3CC8F3;
}

.custom-pointer {
    cursor: pointer;
}

.custom-login-button {
    color: #fff;
    background: #3CC8F3;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    width: 10vw;
    height: 45px;
}

/* Media Queries */

@media (max-width: 986px) {
    .custom-lt-986-hide {
        display: none;
    }

    .custom-login-lt-986-show-full {
        width: 70%;
        height: 67%;
        position: fixed;
        left: 0;
        overflow: auto;
        top: 0;
        padding-bottom: 20vh;
        padding-right: 25vh;
    }

    .custom-login-lt-986-width-60 {
        width: 60vw !important;
    }
}